<div class="container">

  <div class="row">


    <div class="col-sm-12 col-md-8 col-md-offset-2">

      <h1>{{name}}</h1>

      <p class="talkoot-type">{{type.name}}</p>

      <p class="lead">{{goal}}</p>

      <hr>

      <div class="hidden-xs">
        <!-- TODO: Enable google map -->
        <iframe height="450" frameborder="0" style="border:0;width:100%" src="https://www.google.com/maps/embed/v1/search?q={{mapaddress}}&key=AIzaSyDHgqJTMCpMqjyQosLkzHu2XFtWmhUMg0A"></iframe>
        <hr>
      </div>

      <div class="visible-xs">
        <a class="btn btn-large btn-default btn-lg" href="maps:Dipoli,Espoo,Finland">
          <i class="glyphicon glyphicon-map-marker"></i> Näytä sijainti kartalla
        </a>
      </div>

      <ul id="talkoo-specs" class="lead">
        <li><i class="glyphicon glyphicon-user"></i> Järjestäjä: {{organizer}}</li>
        <li><i class="glyphicon glyphicon-map-marker"></i> Sijainti: {{location}}, {{municipality.name}}</li>
        <li><i class="glyphicon glyphicon-time"></i> Ajankohta: {{time}}</li>
        {{#if hashtag}}<li><i class="glyphicon glyphicon-tag"></i> Hashtag: {{hashtag}}</li>{{/if}}
        {{#if url}}<li><i class="glyphicon glyphicon-globe"></i> <a href="{{url}}">Lisätietoja nettisivuilta</a></li>{{/if}}
      </ul>

      <hr>

      <h3>Talkoiden toimintasuunnitelma</h3>
      <div class="lead">
        <p>
         {{description}}
        </p>
      </div>

    </div>

    <div class="col-sm-12 col-md-8 col-md-offset-2 ">
      <hr>
      <h2>Muut talkoot</h2>

      <p class="lead">Muita listattuja talkoita ympäri Suomea.</p>

      <ul id="other-talkoot"></ul>

    </div>


  </div>
</div>
