<li class="single-talkoot">
  <a href="{{detailsPage}}">
    <div class="img-talkoot">
      <img src="{{iconUrl type.name}}" class="img-responsive" />
    </div>
    <div class="talkoot-info">
      <h3>{{name}}</h3>
      <div class="talkoot-type">{{type.name}}</div>
      <div class="talkoot-desc">{{description}}</div>
      <div class="talkoot-meta">
        <i class="glyphicon glyphicon-map-marker"></i> {{street_address}}, {{municipality.name}}<br>
        <div class="hidden-xs"><i class="glyphicon glyphicon-user"></i> {{organizer}}</div>
      </div>
    </div>
    <div class="clear"></div>
  </a>
</li>
