<li class="single-talkoot">
  <a href="{{detailsPage}}">
    <div class="img-talkoot">
     {{#if picture_url}}
     <img src="{{picture_url}}" class="img-responsive"/>
     {{else}}
     <img src="{{iconUrl type.name}}" class="img-responsive" />
     {{/if}}
    </div>
    <div class="talkoot-info">
      <h3>{{name}}</h3>
      <div class="talkoot-type">{{type.name}}</div>
      <div class="talkoot-desc">{{goal}}</div>
      <div class="talkoot-meta">
        <i class="glyphicon glyphicon-map-marker"></i> {{location}}, {{municipality.name}}<br>
        <div class="hidden-xs"><i class="glyphicon glyphicon-user"></i> {{organization}}</div>
      </div>
    </div>
    <div class="clear"></div>
  </a>
</li>
